<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <section>
        <div class="container">
            <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
                <h1 style="color: purple;">It's a
                    <%= kindOfDay %> list</h1>
                <% } else { %>
                    <h1 style="color: blue;">It's a
                        <%= kindOfDay %> list</h1>
            <%   } %>

            <ul>

              <%  for(var i = 0; i < newListItem.length; i++) { %>
                    <li> <%= newListItem[i]; %> </li>
                 <% } %>
            </ul>

            <form class="" action="/" method="post">
                <div class="col-sm-2">
                    <input class="form-control" type="text" name="newItem">
                    <button class="btn btn-warning" type="submit" name="button">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>




</body>

</html>